<div class="movie-finder-container px-2">
  <div class="movie-finder">
      <div class="movie-finder-inner container my-5">
        <h4 class="movie-finder-header">{{$ctrl.title}}</h1>
          <div class="row mt-5">
              <h6 class="movie-finder-inner-header">SELECT THEATER</h6>
              <div class="col-sm-4 my-2 text-center" ng-repeat="theater in market.cinemas">
                <a ui-sref="theaters({id: theater.slug})" ui-sref-active="active"><button class="theater-button" ng-click="selectedATheater(theater)">{{theater.name}}</button></a>
              </div>
          </div>
          <div class="row mt-5" ng-if="selectedTheater">
            <h6 class="movie-finder-inner-header">FILMS PLAYING AT <span>{{selectedTheater.name}}</span></h6>
            <div class="col-12 my-2" ng-repeat="session in selectedSessions">
                <button ng-mouseenter="sessionHovered = true" ng-mouseleave="sessionHovered = false" class="movie-finder-location" ng-click="goToTheater(session)">
                    <span>{{session.filmName}}</span>
                    <img ng-if="sessionHovered" src="../../../img/Highlighted-cart.png">
                    <img ng-if="!sessionHovered" src="../../../img/Cart.png">
                </button>
            </div>
          </div>
      </div>
  </div>
</div>
